body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-frame {
    width:19vw;
    height: 70vh;
    border-radius: 30px;
    box-shadow: 10px;
    margin: 3vw;
}

/* First block */

.name-api {
    background-image: url(../images/map-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-input {
    height: 40px;
    width: 80%;
    border-radius: 10px;
    margin-top: 10%;
    border: 0px;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.form {
    height: 60px;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.result {
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-grow: 1;
}

.gender {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    background-image: url(../images/no-gender.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hello-age {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    flex-grow: 1;
}

.hello-age > p {
    margin: 0 0 0 3%;
}

.hello {
    font-weight: bold;
    font-size: 20px;
}

.age {
    color: rgb(102, 102, 102);
    font-size: 16px;
}

.guess {
    border: 0px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #f9f2e8;
    cursor: pointer;
}

.gender-female {
    background-image: url(../images/female.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gender-male {
    background-image: url(../images/male.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nation-1 , .nation-2 {
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nation-1 {
    align-self: flex-start;
    background-color: black;
    margin-left: 25%;
}

.nation-2 {
    align-self: flex-end;
    background-color: black;
    margin-right: 19%;
}

/*  */
